

<div class="container is-widescreen">
  <h1 class="title  has-text-centered">{{title}}</h1>
  <h3 class="subtitle  has-text-centered">This app is created by {{name}}</h3>
  <div class="field has-addons">
      <div class="control">
          <a class="button is-info">
            Filter
          </a>
        </div>
      <div class="control">
        <input class="input" type="text" placeholder="Find any value" [(ngModel)]='searchtext' >
      </div>
    </div>
    <div class="notification">
        <table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth" *ngIf='products && products.length'>
            <thead>
                <th><button class="button is-link" (click)="toggle()">{{showImage ?  'Hide' : 'Show'}} Image </button></th>
                <th>Name</th>
                <th>Product Code</th>
                <th>Price</th>
                <th>Rating</th>
                <th>Release Date</th>
            </thead>
            <tbody>
              <tr *ngFor="let p of products | productfilter:searchtext ">
                <th>
                    <figure class="image is-96x96">
                        <img *ngIf="showImage" src={{p.imageUrl}}>
                      </figure>
                </th>
                <td>{{p.productName|uppercase}}</td>
                <td>{{p.productCode}}</td>
                <td>{{p.price}}</td>
                <td>{{p.starRating}}</td>
                <td>{{p.releaseDate}}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>